# Build
build/
.gradle/
gradle-wrapper.jar
*.class
target/

# IDE
.idea/
*.iws
*.iml
*.ipr
.vscode/
.settings/
.classpath
.project
.factorypath

# OS
.DS_Store
Thumbs.db

# Secrets
.env
*.key
*.pem

# Logs
*.log
logs/

# Spring Boot
HELP.md

# Grafana /data
/monitoring/grafana/data/