HELP.md
/monitoring/grafana/data/

# Build
build/
!**/src/main/**/build/
!**/src/test/**/build/
target/
*.class

# Gradle
.gradle/
gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.jar

# OS
.DS_Store
Thumbs.db

# Secrets
#.env #arquivo liberado - projeto de estudos
*.key
*.pem

# Logs
*.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
