spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/library
    username: library
    password: library
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    com.example.library: DEBUG
