spring:
  datasource:
    url: ${DB_URL}	#usar postgres no docker, localhost localmente
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

# HikariCP
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
      leak-detection-threshold: 60000  # 1min (detect leaks)

# JPA/Hibernate
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

# Flyway
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: 
      - classpath:db/migration/common
    clean-disabled: true

# Redis
  cache:
    type: redis
  data:
    redis:
      host: ${REDIS_HOST:redis}
      port: ${REDIS_PORT:6379}
      timeout: 60000
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 2
      repositories:
        enabled: false

# SCHEDULED TASKS
  task:
    scheduling:
      pool:
        # Número de threads para tarefas agendadas
        size: 2 

# Actuator
management:
  endpoints:
    web:
      exposure:
        include: health,prometheus
  endpoint:
    health:
      probes:
        enabled: true
      show-details: when-authorized
  metrics:
    distribution:
      percentiles-histogram:
        '[http.server.request]': true
      percentiles:
        '[http.server.requests]': 0.5, 0.95, 0.99

# Logging
logging:
  level:
    root: INFO
    '[com.example.library]': INFO
    '[org.springframework.web]': WARN
    '[org.hibernate]': WARN
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"
  file:
    name: logs/application.log
    max-size: 10MB
    max-history: 30

# Springdoc
springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false

# Configurações de segurança e JWT
jwt:
  # Prod: SEMPRE usar variável de ambiente
  secret-key: ${JWT_SECRET_KEY}

  # Prod: access token de 15 minutos (mais seguro)
  access-token-seconds: ${JWT_ACCESS_TOKEN-SECONDS:900}

  # Prod: refresh token de 7 dias
  refresh-token-days: ${JWT_REFRESH_TOKEN_DAYS:7}
