spring:
# H2 connection
  datasource:
    url: jdbc:h2:mem:librarydb
    driver-class-name: org.h2.Driver
    username: sa
    password:

# H2 client
  h2:
    console:
      enabled: true
      path: /h2-console

# JPA, SQL
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        format_sql: true