spring:
  datasource:
    url: ${DB_URL}	#usar postgres no docker, localhost localmente
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

# HikariCP
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5

# JPA/Hibernate
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

# Flyway
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: 
      - classpath:db/migration/common
    clean-disabled: true

# Redis
  cache:
    type: redis

  data:
    redis:
      host: ${REDIS_URL}	#usar redis no docker, localhost localmente
      port: 6379

# SCHEDULED TASKS
  task:
    scheduling:
      pool:
        # Número de threads para tarefas agendadas
        size: 2 

# Actuator
management:
  endpoints:
    web:
      exposure:
        include: health,prometheus
  endpoint:
    health:
      probes:
        enabled: true
      show-details: always

# Logging
logging:
  level:
    root: INFO

# Springdoc
springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true

# Configurações de segurança e JWT
jwt:
  # Prod: SEMPRE usar variável de ambiente
  secret-key: ${JWT_SECRET_KEY}

  # Prod: access token de 15 minutos (mais seguro)
  access-token-seconds: ${JWT_ACCESS_TOKEN-SECONDS:900}

  # Prod: refresh token de 7 dias
  refresh-token-days: ${JWT_REFRESH_TOKEN_DAYS:7}